/* Add this to your LoginModal.css */
.flip {
    transform: rotateY(180deg);
    transition: transform 0.10s;
  }
  
  .bg-white {
    perspective: 1000px;
  }
  
  .bg-white .flip {
    transform: rotateY(180deg);
  }
  
  .bg-white .flip {
    backface-visibility: hidden;
  }
  